
/* Page-wide Specific Styling */
/* Any changes made here may affect page-wide (index.html) appearance */


/* Animation - background desktop
---------------------------------- */

@-webkit-keyframes desktop-slide {
    to {
        right: calc(10% + 20px);
    }
}

@keyframes desktop-slide {
    to {
        right: calc(10% + 20px);
    }
}


/* Animation - background mobile
---------------------------------- */

@-webkit-keyframes mobile-slide {
    to {
        bottom: 10%;
    }
}

@keyframes mobile-slide {
    to {
        bottom: 10%;
    }
}
