
/* Page-wide Specific Styling */
/* Any changes made here may affect page-wide (index.html) appearance */


/* Animation - background desktop
---------------------------------- */

@-webkit-keyframes desktop-slide {
    to {
        right: calc(10% + 20px);
        box-shadow: 0 20px 15px -15px hsl(0, 0%, 90%);
    }
}

@keyframes desktop-slide {
    to {
        right: calc(10% + 20px);
        box-shadow: 0 20px 15px -15px hsl(0, 0%, 90%);
    }
}


/* Animation - background mobile
---------------------------------- */

@-webkit-keyframes mobile-slide {
    to {
        bottom: 10%;
        box-shadow: -15px 15px 10px hsl(0, 0%, 90%);
    }
}

@keyframes mobile-slide {
    to {
        bottom: 10%;
        box-shadow: -15px 15px 10px hsl(0, 0%, 90%);
    }
}
